<div class="card border-primary mb-3">
  <div class="card-header">Beers</div>
  <div class="card-body text-primary">
    <h5 class="card-title">List of Beers</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/beers/form']">
        Create Beer
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>brewery</th>
          <th>country</th>
          <th>price</th>
          <th>currency</th>
          <th colspan="2">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let beer of beers">
          <td>{{ beer.id }}</td>
          <td>{{ beer.name }}</td>
          <td>{{ beer.brewery }}</td>
          <td>{{ beer.country }}</td>
          <td>{{ beer.price }}</td>
          <td>{{ beer.currency }}</td>
          <td>
            <button type="button" name="editar" [routerLink]="['/beers/form', beer.id]" class="btn btn-primary btn-sm">Calculate Cost</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
